@font-face {
    font-family:Lufga, sans-serif ;
    src: url(./fontes/LufgaBlack.ttf);
}
#section-1 {
    height: 100vh;
    padding: 40px 0;
    background: url(./image/banner.png) no-repeat center center;
    background-size: cover;

}


#section-1 h1 {

}

#section-1 p {
    
}

