    
 
@media (max-width:768px) {

    #logo{
        margin: 40px;
        display: none;
    }

    #nav-header-section-1{
        display: flex;
        width: 100%;
        height: 40px;
        justify-content: end;
        align-items: center;
        padding: 10px;
    }
    #header-section-1{
        align-items: center;
        padding: 0;
    }
    
    #nav-list {
        display: flex;
        width: 100%;
        max-width: 100%;
        height: 60px;
        align-items: center;
        justify-content: space-around;
        gap: 10px;
        position: fixed;
        border-bottom: solid ;
        background-color:var(--third-color);
    }
    .nav-itens{
        background-color: var(--main-color);
        padding: 1px;
        border-radius: 15px;
    }
    
    .info{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        gap: 10px;
        width: fit-content;
        height: max-content;
        background-color: transparent;
        margin: 10%;
    }
    .info li{
        border-right: none;
        border-bottom: solid 4px;
        border-radius: 20px;
        background-color: var(--third-color);
        padding: 0px 30px;
        width: 100%;
    }

    .container-section-2{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: auto;
        padding-bottom: 40px;
    }

    .ul-section-2{
        display: flex;
        flex-direction: column;
        padding-top: 100px;
        height: 80vh;
    }
    .ul-section-2 li{
        flex-direction: row;
        width: 300px;
    }

    .ul-section-2 li:first-child{
        transition: all 1s;
    }
    .ul-section-2 li:nth-child(2){
        transition: all 2s;
    }
    .ul-section-2 li:last-child{
        transition: all 3s;
    }
 
     .collection-books{
        display: flex; 
        flex-direction: column;
        align-items: center;
    }
    #search-box{
        display: none;
    }
    #about-section{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .about-img{
        display: none;
    }
    .about-text{
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: start;
        white-space: none;
        padding: 10px;
        margin-left: 0;
    }
   
    .footer-container{
        flex-direction: column;
        align-items: start;
        gap: 40px;
    }

    .footer-items {
        width: 100%;
        border-bottom: solid;
        padding-bottom:30px;
    }
    
    .collection-books{
        display: flex;
        flex-direction: column;
    }
    .book{
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
    .book-info{
        height: 100%;
        width: 100%;
        padding-bottom: 40px;
    }

    .footer-container{
        flex-direction: column;
        align-items: start;
        gap: 40px;
    }

    .footer-items {
        width: 100%;
        border-bottom: solid;
        padding-bottom:30px;
    }
}

@media (max-width:425px){

    #nav-header-section-1{
        width: 100vw;
        padding: 0;
    }

    #nav-list{
        display: flex; 
        width: 100%;
        padding: 25px;
    }
    .info img{
        display: none;
    }
    .collection-books{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .books{
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding-bottom: 10px;
    }
    .book-info{
        align-items: center;
        text-align: center;
    }
}
