html{
    scroll-behavior: smooth ;
    scrollbar-width: none;
    font-family: var(--font-family);
    color: var(--secondary-color);
    overflow-x: hidden;
    cursor: default;
}

#section-1{
    display: flex;
    flex-direction: column;
    background: url(../images/my-book-background.png) no-repeat center center/cover;
    min-height: 100vh;
    width: 100vw;
}
#header-section-1{
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 35px;
    z-index: 10;
} 
#logo{
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}
#logo a{
    text-wrap: nowrap;
    font-size: 16px;
    font-weight: 700;
    color: var(--secondary-color);
}
#my-book-logo{
    background-color: var(--main-color);
    border: solid 10px var(--main-color);
}

#nav-list{
    display: flex;
    width: 100%;
}
#nav-list li a{
    font-weight: 700;
    position: relative;
    color: var(--secondary-color);
    font-size: clamp(15px, 2vw, 20px);
    padding: 5px;
    text-wrap: nowrap;
}

   #nav-header-section-1 ul li a{
        opacity: 0.7;
    }
        #nav-header-section-1 ul li a::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0%;
        height: 3px;
        background: var(--third-color);
        transition: width 0.3s ease;
    }
    #nav-header-section-1 ul li a:hover::after {
        width: 100%;
    }
    #nav-header-section-1 ul li a:hover{
        transition: 0.7s;
        opacity: 1;
        color: var(--third-color);
        /* text-shadow: 0px 0px 20px rgb(0, 0, 0); */
    }


#content-section-1{
    width: 100%;
    height: 100%;
    padding: 4vw;
    
}
.welcome-message{  
    width:fit-content;
    height: fit-content;
}
.welcome-message h2{
    color: var(--main-color);
    text-shadow: 0px 0px 5px black;
    font-size: clamp(29px, 6vw, 40px);
}
.welcome-message p{
    font-size: clamp(12px, 4vw, 40px);
}
.info{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px;
    height: 130px;
    background-color: var(--third-color);
    margin-top: 50px;
}
.info li{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    border-right: 3px solid var(--secondary-color);
    padding: 10px;
    height: 90px;
    text-align: start;
}
.info li:last-child{
    border-right: none;
}
.text{
    font-size:clamp(10px, 2vw, 16px);
}
.icon{
    width: 25px;
    height: 25px;
    margin-left: 10px;
}
 
#section-2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20%;
    padding: 4vh;
    background-color: var(--third-color);
}
.header-section-2{
    height: fit-content;
    width: fit-content;
}
.header-section-2 h2{
    margin-top: 20px;
    font-size: clamp(20px,3vw, 40px);
}
.container-section-2{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height:50vh;
}
.ul-section-2{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 130px;
    width: 100%;
}
.ul-section-2 li{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    gap: 15px;
    height: 100%;
    font-size: clamp(12px, 1vw, 20px);
}
.text-section-2{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    border-right: 3px solid var(--secondary-color); 
    padding-right: 10px;
}
.ul-section-2 li:last-child{
    border-right: none;
}
.icon-section-2{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45px;
    height:50px;
    padding: 15px;
    background-color: var(--main-color);
}
.icon-section-2 p{
    text-align: center;
    font-weight: 700;
    font-size: 20px;
}

#books-section{
    width: 100vw;
    height: auto;  
    min-height: 100%;
    padding-bottom: 100px;
    background-color: var(--third-color);
    grid-area: books-section;
}
#collection-books-message{
    width: fit-content;
    height: fit-content;
    font-size: clamp(20px, 3vw, 50px);
    margin-left: 3vw;
    color: var(--secondary-color);
    padding-left: 10px;
    border-left: 3px solid var(--main-color);
}
.genere-books{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    padding:4vw;
}
.genere-books li{
    text-align: center;
    font-size: clamp(9px, 2vw, 20px);
    cursor: pointer;
    border-right: 2px solid var(--secondary-color); 
    padding-right: 10px;
}
.genere-books li:nth-child(n+4){
    border-right: none;
    padding-right: 0;
}

.genere-books li h2:hover{
    color: var(--main-color);
    transition: 0.8s;
}
#search-box{
    width: 150px;
    background:transparent;
    border: solid 3px var(--main-color);
    padding: 10px;
    cursor: pointer;
    color: var(--secondary-color);
    transition: 0.8s;
}
#search-box::placeholder{
    color: var(--secondary-color);
}
#search-box:focus{
    outline: none;
    border: solid 3px var(--secondary-color);
}

.collection-books{
    display: grid;
    grid: "book1 book2"
          "book3 book4";
    max-width: 100vw;
    height: auto;
    padding: 8vw;
    gap: 20px;
    margin-top: 4%;
}
.books img{
    min-width: 150px;
    max-width: 200px;
    width: 60%;
    border: solid 1vw var(--main-color);
    transition: 0.4s;
    cursor: pointer;
}
.books img:hover{
    transform: scale(1.1);
    outline: solid 2px var(--secondary-color);
}
.books{
    display: flex;
    gap: 20px;
    width: 100%;
    height: auto;
}
.book-info{
    display: flex;
    flex-direction: column;
    max-width:auto;
    max-height:287px ;
    font-size: clamp(17px, 1.5vw, 30px);
}
#book-1{
    grid: book-1;
}
#book-2{
    grid: book-2;
}
#book-3{
    grid: book-3;
}
#book-4{
    grid: book-4;
}
.btn-add-to-list{
    padding: 5px;
    width: fit-content;
    border: solid 2px var(--main-color);
    cursor: pointer;
    transition: 0.4s;
    margin-top: 20px; 
}
.btn-add-to-list:hover{
    background-color: var(--main-color);
    border: solid 2px var(--secondary-color);
    transform: translateY(-4px);
}
#about-section{
    display: grid;
    grid: " about-text about-img ";
    place-items: center;
    width: 100%;
    height: 80vh;
    padding-left: 10px;
    background-color: var(--main-color);
} 
.about-text{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
    max-width: 100%;
    height: fit-content;
    font-size: clamp(10px, 3.5vw, 20px);
    margin-left: 50px;
}
.about-text h3{
    white-space: normal;
    overflow-wrap: break-word;
}

.about-img{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 50%;
}
.about-img img{
    width: 80%;
}

#footer-section{
    width: 100%;
    height: 40%;
    padding-top: 40px;
    background-color: var(--third-color);
}
.footer-container{
    display: flex;
    width: 100%;
    height: 100%;
    gap: 30px;
    justify-content: space-around;
    align-items: center;   
    padding: 30px;
}
.footer-container li:first-child{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
#social-medias{
    margin-top:20px;
    display: flex;
    gap: 10px;
}
.social-media-icon{
    width: 30px;
}
#subscribe-section input{
    border: solid 2px var(--main-color);
    background-color: transparent; 
    padding: 5px;
    color: var(--secondary-color);
    outline: none;
    transition: 0.8s;
}
#subscribe-section input::placeholder{
    color: var(--secondary-color);
}
#subscribe-section input:focus{
    border: solid 2px var(--secondary-color);
}
#return-to-top-btn{
    display: flex;
    align-items: center;
    gap: 10px;
    color: var(--secondary-color);
    font-weight: 700;
}